/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.nav_bar{
	background: #E8E8E8;
	margin-bottom: 0px;
	margin: 0px 0px 0px 0px;
	height: 76px;
}

.nav_bar h1{
	text-transform: lowercase;
}

.container{
	position:relative;
	width: 1020px;
	margin: 0px auto;
	padding: 0px;
}	

.main{
	width: 100%;
}



.full_img{
	height: 487px;
	width: 100%;
	position: relative;
	background: url('../images/Cincinatti_Cover.jpg');
	background-size: cover;
}

.fullimg_desc{	
	padding: .2em;
	height: 60px;
	bottom: 0;
	position: absolute;
	width: 100%;
	background-color:rgba(0,0,0, 0.7);
}

.fullimg_desc h2{
	text-align: center;
	color: #FFF;
	line-height: 1.5em;
}




/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/