/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.nav_bar{
	background: #E8E8E8;
	margin-bottom: 0px;
	margin: 0px 0px 0px 0px;
	height: 76px;
}

#nav{
	display: inline;
}

.container.nav{
	max-height: 76px;
}

.container.narrow{
	width:500px;
	text-align: center;
	font-size: 18px;
	padding:30px;
}

#blurb{
	text-align: center;
	font-size: 18px;
	padding: 30px;
	margin: 0 auto 0 auto;
	max-width: 500px;
}

/* Social Media Linkss */

#social{
	word-spacing: 30px;
	max-width: 380px;
	padding: 30px;
	margin-bottom: 15px;
	background: #E8E8E8;
	border: solid 1px;
	border-color: #DADADA;
	border-radius: 7px;
	margin: 0 auto 30px auto;
}

#project{
	  background: #E8E8E8;
	  border: solid 1px;
	  border-color: #DADADA;
	  border-radius: 7px;
	  margin: 0 auto 30px auto;
	  max-width: 760px;
	  font-size: 16px;
}

#project span{
	font-weight: bold;
}

#project img{
	float: left;
	width: 96px;
	height: 96px;
	padding: 5px;
}

#social img{
	width: 46px;
	height: 46px;
}

#headerImage{
	position:relative;
}

#headerImage img{
	max-width: 100%;
	height: auto;
	margin-top: -10px;
}

#headerImage_desc{
	padding:.2em;
	height:60px;
	bottom:0;
	background-color: rgba(0,0,0,0.7);
	position: absolute;

	/* Fix these two to be less hacky*/
	margin-bottom: -1px; 
	width: 99.55%;
}

#headerImage_desc h2{
	text-align: center;
	color: #FFF;
	line-height: 1.5em;
}

.full_img{
	height: 450px; /* Previous 645px */
	width: 100%;
	position: relative;
	background: url('../images/Cincinatti_Cover.jpg') no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.fullimg_desc{	
	padding: .2em;
	height: 60px;
	bottom: 0;
	position: absolute;
	width: 99.55%; /* Hacky way of doing it, fix later */
	background-color:rgba(0,0,0, 0.7);
}






/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/